@font-face {
    font-family: 'Segoe';
    src: url('files/Segoe-UI.woff') format('ttf'),
url('files/Segoe-UI.woff') format('woff');
}

body {
    padding:10px;
    margin:0;
    direction:rtl;
    overflow-x:hidden;
    background-color:#211D1E;
    color:#FFB49D;
    font-family:'Segoe',tahoma;
    font-size:15px;
    text-align:justify;
    line-height:1.5;
}
h2, h3, h4, h5, h6, h1 {
    margin-bottom:5px;
}
hr {
    border-style:solid;
    border-color:#1b2a49;
}
a {
    text-decoration:none;
    border:none;
    color:#fff;
}
p {
    margin:0;
    line-height:1.5;
    padding:0;
}
table {
    width:100%;
    border-width: 0px;
    border:none;
    margin-top:15px;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    padding:5px;
    font-size:15px;
    border-bottom:3px solid #263238;
}
ul, ol {
    padding-right:20px;
    margin:0;
}
.pre {
    background: #202020;
    margin:10px 0;
    direction:ltr;
    overflow:auto;
    width:auto;
    border:solid gray;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
}
table.tags-list tr td:first-child {
    background-color:#455A64;
    direction:ltr;
    text-align:center;
    width:25%;
}
table tr td {
    font-size:13px;
}
table.main-tings tr td:first-child {
    background-color:#455A64;
    text-align:center;
    width:20%;
}
table.main-tings tr td:nth-child(2) {
    background-color:#455A64;
    text-align:center;
    width:20%;
}
table.main-tings tr:first-child td:last-child {
    background-color:#37474F;
}
textarea#insert_code {
    width: 100%;
    height:200px;
    font-family:'Segoe',tahoma;
    font-size:13px;
    border: none;
    display: block;
    padding: 10px;
    margin:10px 0;
    direction:ltr;
    color:#fff;
    background-color:#37474F;
}
iframe#preview {
    height:200px;
    border:none;
    margin-top:10px;
    width: 100%;
    background-color:#fff;
}
.prevew_cp {
    text-align:center;
}
select#activity {
    background-color:#37474F;
    color:#fff;
    padding:2px;
    font-family:'Segoe',tahoma;
    font-size:15px;
    border:none;
}
button {
    font-size: 14px;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 80px;
    height: 40px;
    border-width: 3px;
    border-color: blue;
    border-radius: 50px;
}
