@font-face {
	font-family: "scp";
	font-style: normal;
    font-weight: 400;
    src: url(../fonts/SourceCodePro-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "fira";
	font-style: normal;
    font-weight: 400;
    src: url(../fonts/FiraCode-Light.ttf) format("truetype");
}

div{
    overflow: hidden;
}

#editor 
{ 
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    user-zoom: initial;
    position: fixed;;
    top: 0px;
    right: 0;
    left: -10px;
    bottom: 0px;
    font-family: 'fira' !important;
    font-weight: bold;
}

.ace_gutter-cell{
    color:#fffffff;
    /* background-color: transparent !important; */
}

.ace_gutter {
    /* background-color: transparent !important; */
}



/*
==========================================
           output ============> css
==========================================
*/
