* {
   box-sizing: border-box !important;
}
html,body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    background-color: #000027;
    overflow:hidden;
}

.coutput {
    display: block;
    width: 100%;
    height: 99.9%;
    padding-top: 2px;
}

.coutput .cline {
    display: flex;
    width: 100% !important;
    padding: 12px;
    font-family: courier;
    color: #ffffffff;
    background-color: #000027;
    font-size: 17px;
    font-weight: bold;
    border-top: solid 1px #ededed;
    border-bottom: solid 1px #ededed;
    margin: -1px;
    position: relative;
    overflow-x: scroll;
    overflow-clip-box: content-box;
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; */
    box-sizing: border-box;
}

.coutput .cerror {
    color: #f00000;
    background-color: #ff000012;
    border-top: solid 1px #ff330008;
    border-bottom: solid 1px #ff330008;
}