<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"/>

    <application
            android:allowBackup="true"
            tools:replace="android:allowBackup,android:supportsRtl"
            android:icon="@mipmap/ghosticon"
            android:label="@string/app_name"
            android:name=".ApplicationLoader"
            android:requestLegacyExternalStorage="true"
            android:usesCleartextTraffic="true"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            android:largeHeap="true">
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateHidden"
                android:label="@string/gos"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.FileDirActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.CodeEditorActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.HtmlRunerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.JsRunerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.InjectorColorActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.XmlViewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.SettingAppActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.ErrorManagerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.AboutActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.ShellCodeActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".terminal.TerminalActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.JsonViewerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.MdCodeViewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.JavaManagerLayoutActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.VideoViewsActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PdfViewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.ZipShowActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.GouidHtmlActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.ResultActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.MianbarActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.FontViewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.LogCatViewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.LeranPdfActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".activities.ImgShowActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.IconModActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.MusicPlayerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.FontChakerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.StreamSoftAppActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.BrowserActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
        <activity
                android:name=".activities.PdfViewNewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PytestActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PluginManagerActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PhpActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.FileBookmarkActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.SetHomeWallpActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"
                android:screenOrientation="portrait"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="Ninja.coder.Ghostemane.code.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider"/>
        </provider>
        <activity
                android:theme="@style/Apple"
                android:exported="false"
                android:name="Ninja.coder.Ghostemane.code.keyboard.Setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name="Ninja.coder.Ghostemane.code.keyboard.Theme"/>
        <activity
                android:name="Ninja.coder.Ghostemane.code.keyboard.Background"/>
        <activity
                android:name="Ninja.coder.Ghostemane.code.keyboard.Save"/>
        <activity
                android:name="Ninja.coder.Ghostemane.code.keyboard.Reset"/>

        <service
                android:label="GhostWebIdeKeyboardv1"
                android:exported="false"
                android:name="Ninja.coder.Ghostemane.code.keyboard.KeyboardSamsung"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                    android:name="android.view.im"
                    android:resource="@xml/method"/>
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
        </service>
        <service
                android:name="Ninja.coder.Ghostemane.code.PHPProcess"
                android:process=":PHPWebServerService"/>

        <activity-alias
                android:name=".MainActivityred"
                android:label="@string/app_name"
                android:icon="@drawable/ghosticonred"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".MainActivityyellow"
                android:label="@string/app_name"
                android:icon="@drawable/ghosticonyellow"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".MainActivityblue"
                android:label="@string/app_name"
                android:icon="@drawable/ghosticonblue"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".MainActivityblack"
                android:label="@string/app_name"
                android:icon="@drawable/ghosticonblack"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".MainActivitypap"
                android:label="@string/app_name"
                android:roundIcon="@drawable/ghosticonpapermod"
                android:icon="@drawable/ghosticonpapermod"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".MainActivitygreenhell"
                android:label="@string/app_name"
                android:roundIcon="@drawable/ghosticongreenhell"
                android:icon="@drawable/ghosticongreenhell"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
                android:name=".MainActivitybluesky"
                android:label="@string/app_name"
                android:roundIcon="@drawable/ghosticonbluemod"
                android:icon="@drawable/ghosticonbluemod"
                android:enabled="false"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <service
                android:name=".services.MediaListenerService"
                android:enabled="true"
                android:exported="false"/>
        <service
                android:name=".services.FileEventUser"
                android:enabled="true"
                android:exported="false"/>
        <receiver
                android:name="Ninja.coder.Ghostemane.code.NetworkChangeReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity
                android:name=".activities.ApkViewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:supportsPictureInPicture="true"/>
    </application>
</manifest>
